# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Node / Vue
node_modules/
dist/
dist-ssr/
*.local
.npm

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Docker
.dockerignore
